---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
	<h1>lab.s2n.tech</h1>
	<ul>
		<li><a href="star">星空</a></li>
		<li><a href="glass">ガラス</a></li>
		<li><a href="shattered-glass">ガラスの破片</a></li>
		<li><a href="vertical-text">縦書き</a></li>
	</ul>
</Layout>
