---
import "./_style.css";

import Layout from "~/layouts/Layout.astro";
---

<Layout title="Stars">
	<div class="root">
		<canvas id="stars"></canvas>
	</div>
</Layout>
<script src="./_script.ts"></script>
